# Initializer for metadata sources.  Should point to an endpoint that returns MODS metadata
# FORMAT_RESTRICTION: keys cannot include the character '-',
#   because it's used as a parameter separator
MetadataSources = {
  'hollis' => {
    'templates' => {
      'metadata' => "http://webservices.lib.harvard.edu/rest/mods/<%= ext_id_type %>/<%= ext_id %>",
      'record_url' => "http://id.lib.harvard.edu/aleph/<%= ext_id %>/catalog"
    },
    'id_proc' => ->(id) { id.rjust(9, '0') }
  }
}
