<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%
    type = case name
    when 'notice'
      'success'
    when 'error', 'alert'
      'danger'
    else
      name
    end
    %>
    <div class="alert alert-<%= type %>">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>
