.page-header {
  margin-top: 0;
  h1{
    margin:0;
    border: none;
    width: 129px;
    height: 70px;
    position: absolute;
    top: 0px;
    left: 10px;
    background-image: image-url("pennant.png");
    > a, > a:hover {
      display: block;
      text-indent: -9001px;
      overflow: hidden;
    }
  }
  h2 {
    margin-left: 154px;
  }
}

h2 {
  text-align: center;
  color: $indigo;
  margin-bottom: 1em;
}

#content {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-sm-column-offset(2);
  padding-bottom: 1em;
}

a[href]:not(.btn) {
  text-decoration: underline;
  &:hover {
    color: $link-color - #222;
  }
}

#content > div {
  margin-bottom: 1em;
}

a.sign-out {
  font-size: 12px;
  color: $link-color !important;
  vertical-align: middle;
  display: inline-block;
}

#tl-loading-spinner {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $ivy;
  color: white;
  opacity: 0.7;
  padding: 0.2em 0.5em;
}

.table.table-striped {
  border: 1px solid #ddd;
}

/* Pencils are yellow */
.glyphicon.glyphicon-pencil {
  color: #eeee40;
}

/* Trash cans are grey */
.glyphicon.glyphicon-trash {
  color: #aaa;
}