/* Form styling */
#links > fieldset {
  @include clearfix();
  padding: 0.5% 1em;
  &:nth-of-type(2n+1) {
    background-color: lightgrey;
  }
  &.deleted {
    background-color: $brand-danger !important;
  }
  > div {
    float: left;
    &.stringish {
      width: 45%;
      margin-right: 1%;
    }
    &.links {
      width: 8%;
      margin: 0;
      padding: 25px 0 0 0;
    }
  }
}
form.link_list {
  padding-bottom: 60px;
}
form.link_list fieldset.form-actions {
  padding: 20px 0 10px;
  background: white;
  border-top: 2px solid $slate;
  position: fixed;
  @media (max-width: $screen-xs-max) {
    width: 91%;
  }
  @media (min-width: $screen-sm-min) {
    width: 65%;
  }
  bottom: 0;
  input[type="submit"], input.cancel, a.meta {
    float:left;
    margin-right: 1em;
  }
}

.links {
  display: inline;
  float: right;
}

#content > div {
  margin-bottom: 1em;
}

.search-box {
  p {
    font-weight: bold;
  }
  span.nobreak {
    display: inline-block;
  }
  .date-qualified {
    margin: 0.6em 0;
    > span > div {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}


/* Show styling */
body.c_link_lists.a_show {
  .md-label {
    color: $ink;
    font-weight: bold;
  }
  div.image {
    float: right;
    margin: 0 0 1em 2em;
    img {
      @media (max-width: $screen-sm-max) {
        width:150px;
        height:150px;
      }
      @media (min-width: $screen-md-min) {
        width: 200px;
        height: 200px;
      }
    }
  }
  #fts {
    .search-field { margin: 0 0 1.5em 0; width: 100%; }
    .date-range, .sortby {  margin: 0 0 1em 0; }
    .date-qualified { margin: 0 0 0.5em 0; }
  }

  label[for="D_Y"], label[for="D_S"] {
    font-weight: normal;
  }
  select#O {
    display:inline-block;
    width: auto;
  }
  ul.controls {
    margin: 1em auto;
    text-align: center;
    list-style: inside none;
    > li {
      display: inline-block;
      margin-right: 1em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .urllist a{
  	color: $slate;
  	text-decoration: none;
  }
  .link-icon {
  	margin-right: 5px;
  	margin-left: 20px;
  	opacity: 0.3;
    filter: alpha(opacity=30); 
  }
  #fts-icon {
  	margin-left: 0px;
  }
  #cite-icon {
  	background:url("cite.png") no-repeat left bottom;
  	background-size: 20px;
  	display: inline-block;
	height: 20px;
	width: 20px;
	position: relative;
	top: 5px;
  }
  #rl-icon {
  	background:url("cite.png") no-repeat left bottom;
  	background-size: 20px;
  	display: inline-block;
	height: 20px;
	width: 20px;
  	position: relative;
	top: 5px;
  }
  #share-icon {
  	background:url("share.png") no-repeat left bottom;
  	background-size: 20px;
  	display: inline-block;
	height: 20px;
	width: 20px;
  	position: relative;
	top: 5px;
  }
  #help-icon {
  	background:url("help.png") no-repeat left bottom;
  	background-size: 20px;
  	display: inline-block;
	height: 20px;
	width: 20px;
  	position: relative;
	top: 5px;
  }
}

body.c_link_lists {
  .modal-field .label {
    font-size: 1em;
    display: inline-block;
    color: black;
    font-weight: bold;
  }
}

body.c_link_lists.a_index {
  .ll-create, .ll-import {
    @media(max-width: $screen-xs-max) {
      @include make-xs-column(12);
      &.ll-create {
        padding-bottom: 1em;
        border-bottom: 1px solid #eee;
      }
    }
    @media(min-width: $screen-sm-min) {
      @include make-sm-column(6);
    }
  }
}