/* Form styling */
fieldset.inputs.links {
  @include clearfix();
  padding: 0.5em 1em;
  &:nth-child(4n+1) {
    background-color: lightgrey;
  }
  > div {
    float: left;
    width: 49.5%;
    margin-right: 1%;
    &:last-child {
      margin-right: 0;
    }
  }
}